<div class="
bg-white
rounded-lg
hover:shadow-xl hover:border-primary
overflow-hidden
p-4
md:p-10
lg:p-12
transition
duration-200
shadow-none
cursor-pointer
border border-gray-100
flex
items-center
flex-col
justify-center
">
    <a href="{link}"> <img class="mx-auto" src="{image}" alt="Member" />
        <div class="my-3 text-center">
            <span class="block text-center text-lg font-medium">{title}</span>
            <span class="block text-center text-md text-primary-body">{desc}</span>
    </a>
</div>
<!-- <div class="flex w-52 items-center justify-around">
            <a href="#"
              ><img
                src="./assets/images/aboutus/leadership/facebook.svg"
                alt="Facebook"
            /></a>
            <a href="#"
              ><img
                src="./assets/images/aboutus/leadership/twitter.svg"
                alt="twitter"
            /></a>
            <a href="#"
              ><img
                src="./assets/images/aboutus/leadership/instagram.svg"
                alt="Instagram"
            /></a>
          </div>-->
</div>