<footer class="py-4 bg-primary-footer">
  <div class="container mx-auto max-w-wrapper">
    <div class="py-3 md:flex justify-between items-center">
      <img class="block mx-auto md:mx-0 my-10 md:my-0" src="./assets/images/white-logo.png" alt="" />
      <div class="
            md:flex
            items-center
            w-1/2
            md:w-auto
            mx-auto
            md:mx-0
            text-center
          ">
        <span class="text-white text-lg font-semibold">
          Follow us on Social</span>
        <ul class="flex mx-4 my-2">
          <li class="mx-2">
            <a href="https://www.facebook.com/emcurepharmaofficial" target="_blank"> <img
                src="./assets/images/social/facebook.png" alt="" /></a>
          </li>
          <li class="mx-2">
            <a href="https://twitter.com/EmcurePharma" target="_blank"> <img src="./assets/images/social/twitter.png"
                alt="" /></a>
          </li>
          <li class="mx-2">
            <a href="https://www.instagram.com/emcurepharma/" target="_blank"><img
                src="./assets/images/social/insta.png" alt="" /></a>
          </li>
          <li class="mx-2">
            <a href="https://in.linkedin.com/company/emcure-pharmaceuticals-limited" target="_blank"><img
                src="./assets/images/social/in.png" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="border-gray-600 my-2" />
    <div class="px-6 md:grid grid-flow-col grid-cols-6 gap-3 my-5">
      <div class="text-sm mb-10 md:mb-4 lg:mb-0">
        <span class="mb-4 block text-white font-medium">About</span>
        <ul class="text-gray-400">
          <a href="./aboutus-overview.html">
            <li class="py-1">Overview</li>
          </a>
          <a href="./aboutus-vision_values.html">
            <li class="py-1">Vision and Values</li>
          </a>
          <a href="./aboutus-milestones.html">
            <li class="py-1">Milestones</li>
          </a>
          <a href="./aboutus-leadership.html">
            <li class="py-1">Leadership</li>
          </a>
          <a href="./aboutus-awards.html">
            <li class="py-1">Awards & recognition</li>
          </a>
          <a href="./aboutus-csr.html">
            <li class="py-1">CSR</li>
          </a>
        </ul>
      </div>
      <div class="text-sm mb-10 md:mb-4 lg:mb-0">
        <span class="mb-4 block text-white font-medium">Our Business</span>
        <ul class="text-gray-400">
          <a href="./ourbusiness-overview.html">
            <li class="py-1">Overview</li>
          </a>
          <a href="./ourbusiness-formulation.html">
            <li class="py-1">Formulations</li>
          </a>
          <a href="./ourbusiness-biologics.html">
            <li class="py-1">Biologics</li>
          </a>
          <a href="./ourbusiness-api.html">
            <li class="py-1">API's</li>
          </a>
          <a href="./ourbusiness-vaccine.html">
            <li class="py-1">Vaccines</li>
          </a>
        </ul>
      </div>
      <div class="text-sm mb-10 md:mb-4 lg:mb-0">
        <span class="mb-4 block text-white font-medium">Research</span>
        <ul class="text-gray-400">
          <a href="./research-overview.html">
            <li class="py-1">Overview</li>
          </a>
          <a href="./research-gennova.html">
            <li class="py-1">Gennova</li>
          </a>
          <a href="./research-formulations.html">
            <li class="py-1">Formulations</li>
          </a>
          <a href="./research-api.html">
            <li class="py-1">API's</li>
          </a>
          <a href="./research-rd.html">
            <li class="py-1">R&D Locations</li>
          </a>
        </ul>
      </div>
      <div class="text-sm mb-10 md:mb-4 lg:mb-0">
        <span class="mb-4 block text-white font-medium">Manufacturing</span>
        <ul class="text-gray-400">
          <a href="./manufacturing-overview.html">
            <li class="py-1">Overview</li>
          </a>
        </ul>
      </div>
      <div class="text-sm mb-10 md:mb-4 lg:mb-0">
        <span class="mb-4 block text-white font-medium">Financials</span>
        <ul class="text-gray-400">
          <a href="./annual-report.html">
            <li class="py-1">Annual Reports</li>
          </a>
          <a href="./financial.html">
            <li class="py-1">Policies</li>
          </a>
        </ul>
      </div>
      <div class="text-sm mb-10 md:mb-4 lg:mb-0">
        <a href="./blog.html"><span class="mb-4 block text-white font-medium">Blog</span></a>
        <a href="./newsroom.html"><span class="mb-4 block text-white font-medium">Newsroom</span></a>
        <a href="./career.html"><span class="mb-4 block text-white font-medium">Careers</span></a>
        <a href="./contactus.html"><span class="mb-4 block text-white font-medium">Contact</span></a>
      </div>
    </div>
    <hr class="border-gray-600 my-2" />
    <div class="md:flex px-4 lg:px-0 justify-between my-3">
      <span class="text-xs uppercase text-gray-500 tracking-widest">copyright &copy; 2021, all rights reserved</span>
      <span class="text-xs uppercase text-gray-500 tracking-widest"><a href="./cookie-policy.html"
          target="_blank">Cookie Policy</a> | <a href="./terms-and-conditions.html" target="_blank">Terms &
          Condition</a> | <a href="./disclaimer.html" target="_blank">disclaimer</a> | <a href="./privacy-policy.html"
          target="_blank">privacy policy</a></span>
    </div>
  </div>
</footer>