<partial title="About Us - Overview" name="head.html"></partial>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="style.min.css" />
    <link rel="stylesheet" href="./litetooltip.min.css" />
    <style>
      @media screen and (max-width: 700px) {
        .sub-menu.absolute {
          position: static;
        }
      }
    </style>
    {content}
  </head>