<header class="px-4 py-6 bg-white shadow-sm">
  <header class="container max-w-wrapper lg:flex items-center mx-auto">
    <div class="flex justify-between lg:mr-12">
      <div class="logo">
        <a href="./index.html">
          <img width="195" src="./assets/images/logo.png" /></a>
      </div>
      <div onclick="toggleMenu()" class="lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
    </div>
    <div id="menu" class="hidden lg:block px-4 py-2 md:py-0 lg:px-0">
      <ul class="lg:flex items-center">
        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          About
          <ul class="sub-menu hidden absolute bg-white" style="z-index: 100">
            <a href="./aboutus-overview.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Overview
              </li>
            </a>
            <a href="./aboutus-vision_values.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Vision and Values
              </li>
            </a>
            <a href="./aboutus-milestones.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Milestones
              </li>
            </a>
            <a href="./aboutus-leadership.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Leadership
              </li>
            </a>
            <a href="./aboutus-awards.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Awards & recognition
              </li>
            </a>
            <a href="./aboutus-csr.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">CSR</li>
            </a>
          </ul>
        </li>
        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          Our Business
          <ul class="sub-menu hidden absolute bg-white" style="z-index: 100">
            <a href="./ourbusiness-overview.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Overview
              </li>
            </a>
            <a href="./ourbusiness-formulation.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Formulations
              </li>
            </a>
            <a href="./ourbusiness-biologics.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Biologics
              </li>
            </a>
            <a href="./ourbusiness-api.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                API's
              </li>
            </a>
            <a href="./ourbusiness-vaccine.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Vaccines
              </li>
            </a>
          </ul>
        </li>

        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          Research
          <ul class="sub-menu hidden absolute bg-white" style="z-index: 100">
            <a href="./research-overview.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Overview
              </li>
            </a>
            <a href="./research-gennova.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Gennova
              </li>
            </a>
            <a href="./research-formulations.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Formulations
              </li>
            </a>
            <a href="./research-api.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                API's
              </li>
            </a>
            <a href="./research-rd.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                R&D Locations
              </li>
            </a>
          </ul>
        </li>

        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          <a href="./manufacturing-overview.html">Manufacturing</a>
          <ul class="sub-menu hidden absolute bg-white" style="z-index: 100">
            <!-- <li class="px-4 py-2 hover:bg-gray-200 w-max">Overview</li>-->
          </ul>
        </li>

        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          <a href="">Financials</a>
          <ul class="sub-menu hidden absolute bg-white" style="z-index: 100">
            <a href="./annual-report.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Annual Report
              </li>
            </a>
            <a href="./financial.html">
              <li class="px-4 py-2 hover:bg-gray-200 w-max">
                Policies
              </li>
            </a>
          </ul>
        </li>

        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          <a href="./blog.html"> Blog</a>
        </li>
        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          <a href="./career.html"> Careers</a>
        </li>
        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          <a href="./newsroom.html"> Newsroom</a>
        </li>
        <li class="
              text-lg text-primary-heading
              font-medium
              cursor-pointer
              tracking-tight
              lg:mx-3
            ">
          <a href="./contactus.html">Contact</a>
        </li>
      </ul>
    </div>
  </header>
</header>