<section class="redStrip px-4 md:px-8 w-full h-60 py-12">
    <div class="container mx-auto max-w-wrapper md:flex justify-between">
        <h3 class="h2  text-white">{title}</h3>
        <div class="flex mt-2 md:mb-10 md:mt-4">
            <div class="mx-2 {css-prev}">
                <img width="40" src="./assets/images/left-transparent.png" alt="" />
            </div>
            <div class="mx-2 {css-next}">
                <img width="40" src="./assets/images/right-transparent.png" alt="" />
            </div>
        </div>
    </div>
</section>