<div class="swiper-slide w-80 p-4">
    <div class="overflow-hidden rounded-md shadow-lg">
      <img class="w-full h-40 object-cover" src="{image}"
        alt="Placeholder Image" />
      <div class="p-8">
        <h3 class="heading text-base mb-10 h-24 text-19">
         {title}
        </h3>
        <div class="flex w-full items-center justify-between">
          <span class="text-xs text-gray-400">{date}</span>
          <img src="./assets/images/right-red.png" alt="" />
        </div>
      </div>
    </div>
  </div>