<div class="swiper-slide w-full md:w-384" style="
overflow: hidden;
flex: none;
height: 288px;
border-radius: 8px;
">
  <div class="transform hover:scale-105 transition-all ease-linear duration-100 w-full h-full" style="background-size: cover;
background-image: url({image});"></div>
  <div class="
  w-full
  h-full
  bg-gradient-to-t
  from-black
  via-transparent
  to-transparent
" style="
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 15px;
">
    {title}
  </div>
</div>