<div class="slideAnimation swiper-slide w-full md:w-384" style="
overflow: hidden;
flex: none;
height: 288px;
border-radius: 8px;
">
  <a href="{link}">
    <div class="zoomOnHover w-full h-full" style="background-size: cover;
background-image: url({image});"></div>
    <div class="
  absolute
  top-0
  w-full
  h-full
  bg-gradient-to-t
  from-black
  via-transparent
  to-transparent
" style="
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 15px;
">
      {title}
    </div>
  </a>
</div>